* {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin: auto;
}

.main-view {
  width: 100%;
  display: flex;
}

.city-degr {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

.city {
  font-size: 4vw;
}

.weather-pic {
  width: 20%;
  align-self: center;
}

.degr {
  font-size: 6vw;
  align-self: flex-end;
}

.additional {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-right: 25px;
  margin-left: 25px;
}

.main-q {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-q p {
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
  margin-right: 0;
}

.main-a {
  width: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.main-a p {
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
  margin-left: 0;
}

.favorite-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 15px;
  margin-bottom: 0;
}

.favorite-form p {
  font-size: 3vw;
}

form input {
  font-size: 2vw;
}

.favorite-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 0;
}

.favorite-bar {
  display: flex;
  justify-content: space-between;
  padding: 3px 0 3px 0;
  margin: 0 25px 0 25px;
}

.favorite-bar p {
  font-size: 3vw;
}

.favorite-bot {
  display: flex;
  margin: 0 25px 0 25px;
  justify-content: space-between;
}

.favorite-q {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.favorite-a {
  width: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.favorite-q p {
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
  margin-right: 0;
}

.favorite-a p {
  background-color: #ccc;
  margin: 3px;
  margin-left: 0;
  padding: 3px;
}

.loading {
  margin: auto;
  padding: 75px;
}

.error {
  text-align: center;
}

.error p {
  white-space: normal;
  font-size: 3vw;
}

@media (max-width: 600px) {
  .city-degr,
  .additional {
    width: 90%;
  }
  .favorite-container {
    width: 100%;
  }
  .main-view {
    flex-direction: column;
  }
  .favorite-list {
    flex-direction: column;
  }
  .favorite-form {
    flex-direction: column;
  }
}
